<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/styles.css" />
    <!-- FullCalendar CSS -->
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/main.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">


</head>
<body>
    <header>
        <!-- Ваші заголовки або навігація -->
    </header>

    <div class="container">
        @RenderBody()  <!-- Це місце, де буде вставлятись контент сторінки -->
    </div>

    <footer>
        <!-- Ваші футери -->
    </footer>
    @RenderSection("Scripts", required: false)

    <!-- FullCalendar JS -->
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/main.min.js"></script>

</body>
</html>
